/*body {
    background-color: grey;
    margin: 0;
    padding: 0;
}
*/
body{
   background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIElEQVQYV2P0j0z+z4AGGPEKblw+l8E/MhmsB79KZGMBADUNOAGWYcMAAAAASUVORK5CYII=
    ) repeat;
}

#port_logo {
    width: 90px;
    margin-top: 10px;
    margin-left: 40px;
}

.Computer_Entry {
    float: left;
    margin: 15px;
}

.Information_Bar{
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*float: left;*/
  width: 300px;
  height: 20px;
  padding: 10px;
}

.Payload_Bar{
  background-color: white;
  width: 300px;
  height: 80px;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.IP_Text{
  font-family : sans-serif;
  font-size : 14px;
  color : #8CC63F;
	color : rgb(140, 198, 63);
  margin : 5px;
  margin-left: 10px;
  float : left;
}

.Computer_Text{
  /*float : left;*/
  font-family : sans-serif;
  white-space: nowrap;
	font-size : 14px;
  overflow : hidden;
  text-overflow : ellipsis;
	color : #8CC63F;
	color : rgb(140, 198, 63);
  margin : 5px;
  width : 150px;
  float : left;
}

.Service_Text {
  font-family : sans-serif;
  font-size : 14px;
  color : black;
  margin-top : 0px;
  margin-bottom : 0px;
  margin-left: : 10px;
}



h1{
  margin-left: 10px;
  font-family: sans-serif;
}
