<h2 mat-dialog-title>Scan configuration</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput placeholder="IP(s) and ranges (nmap style)" formControlName="ipRange">

    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="nmap parameters" formControlName="parameters">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Submit</button>
</mat-dialog-actions>