:root {
  --corner_radius: 10px;
}

body{
   background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIElEQVQYV2P0j0z+z4AGGPEKblw+l8E/MhmsB79KZGMBADUNOAGWYcMAAAAASUVORK5CYII=
    ) repeat;
}

button {
  display: inline-block;
  margin-left: 16;
  padding: 16px 16px;
  font-size: 24px;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  background-color: 9E9E9E;
  border-color: 9E9E9E;
  
}

#port_logo {
    width: 90px;
    margin-top: 10px;
    margin-left: 40px;
}

.Computer_Entry {
    float: left;
    margin: 16px;
  }

  .Information_Bar, .Information_Bar_Offline  {
  border-top-left-radius: var(--corner_radius);
  border-top-right-radius: var(--corner_radius);
  /*float: left;*/
  width: 300px;
  height: 20px;
  line-height: 10px;
  /*text-align: center; */
  padding: 8px;
  cursor: pointer;
}

.Information_Bar{
  background-color: black;
  
}

.Information_Bar_Offline {
  background-color:rgb(254, 85, 62)
}

.Payload_Bar{
  background-color: white;
  width: 300px;
  height: 80px;
  padding: 8px;
  border-bottom-left-radius: var(--corner_radius);
  border-bottom-right-radius: var(--corner_radius);
}

.IP_Text{
  font-family : sans-serif;
  font-size : 14px;
  color : #8CC63F;
	color : rgb(140, 198, 63);
  margin : 5px;
  margin-left: 10px;
  float : left;
}

.Computer_Text{
  /*float : left;*/
  font-family : sans-serif;
  white-space: nowrap;
	font-size : 14px;
  overflow : hidden;
  text-overflow : ellipsis;
	color : #8CC63F;
	color : rgb(140, 198, 63);
  margin : 5px;
  width : 150px;
  float : left;
}

.Service_Text_Available, .Service_Text_Offline {
  font-family : sans-serif;
  font-size : 14px;
  color : black;
  margin-top : 0px;
  margin-bottom : 0px;
  margin-left : 10px;
}

.Service_Text_Available {
  font-size : 14px;
  color : black;
}

.Service_Text_Offline {
  font-size : 24px;
  color : darkgrey;
}

.Check_Box_Btn {
  font-family: sans-serif;  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}

.Check_Box_Btn_Pressed {
  font-family: sans-serif;  
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87);
  background-color:#e6e6e6;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  outline: none;  
}

h1{
  padding: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: sans-serif;
  margin : 0px;
}

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 0px 16px;
  padding: 16px 0px 16px 44px;
  font-family: sans-serif;
  font-size: 25px;
  font-style: bold;
  font-weight: 10;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
  font-family: sans-serif;
}
.switch-label .toggle--off {
  display: inline-block;
  font-family: sans-serif;
}

.switch-input:checked + .switch-label:before {
  background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
  background-color: #4CAF50;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}

.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.49); /* Black w/ opacity */  
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: var(--corner_radius);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-ports {
  font-family: sans-serif;
  font-weight: bold;
}